<ion-view  ng-controller="TodoController">
  <div class="bar bar-header" style="background:none;">
    <i class="icon ion-arrow-left-c myicon1" ui-sref="app.alarmMed"></i>
  </div>

  <ion-content>
  <div class="small-container med-bg">
  <div class="background-top">
  <!-- <button class="btn-float" ng-click="modal.show()"><i class="icon ion-plus myicon"></i></button> -->
  </div>
  </div>

    <div class="container add-list">

      <form data-ng-submit="addMed()" class="todo-form">
          <div class="padding">
            <center>
            <div class="input-group animated slideInLeft">
              <input type="text" id="name"  ng-model="name" placeholder="Medicine Name" required/>
            </div>
            <div class="input-group animated slideInRight">
              <input type="text" id="quantity" ng-model="quantity" placeholder="Medicine Quantity" required/>
            </div>
            <center>

              <button type="button" style="width:80%;" value="{{id}}" ng-show="add" class="button bar-color button-small button-medify button-outline animated pulse" ng-click="save_edit(id, name, quantity)">SAVE</button>

              <button type="button" style="width:80%;" ng-show="cancel" ng-click="canceled()" class="button bar-color button-small button-assertive button-outline">CANCEL</button>

                <input type="submit" style="width:80%;" value="ADD" ng-hide="add" class="button bar-color button-small button-medify button-outline animated pulse" ng-click="alert()"/>
            </center>
            </center>
          </div>
      </form>

<br>
<br>
<br>
<br>
<br>

           <!-- <div class="item item-divider "><h2 style="font-size:17px; color:#000;">Medicines</h2></div> -->
           <ul class="list home-list1">
             <div data-ng-repeat="a in medlist track by $index">
               <li class="item">
                 <div class="row">
                   <div class="col col-50">
                     <span>{{a['medicine_name']}}</span>
                   </div>
                   <div class="col col-30">
                     <span style="margin-left:15%;">{{a['medicine_quantity']}}</span>
                   </div>
                   <div class="col col-10">
                     <a ng-click="edit(a.medicine_list_ID, a.medicine_name, a.medicine_quantity)"><i class="ion ion-android-create" style="font-size:20px;"></i></a>
                   </div>
                   <div class="col col-10">
                    <a ng-click="delete(a.medicine_list_ID)"><i class="ion ion-android-delete" style="font-size:20px; margin-left:20px;"></i></a>
                   </div>
                 </div>
               </li>
             </div>
           </ul>
            <!-- <div class="list" data-ng-repeat="a in medlist">
              <div class="item">
                <span>{{a['medicine_name']}}</span>
                <span>{{a['medicine_quantity']}}</span>
                <button class="button bar-color button-small button-medify button-outline" ng-click="edit(a.medicine_list_ID, a.medicine_name, a.medicine_quantity)">Edit</button>
                <button class="button bar-color button-small button-medify button-outline" ng-click="delete(a.medicine_list_ID)">Delete</button>

              </div>
            </div> -->


    </div>
  </ion-content>
</ion-view>
