<ion-view ng-controller="TodoController">
  <!-- <div class="bar bar-header">

  </div> -->
  <div class="small-container med-bg">
    <div class="search-bar">
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" ng-model="search.menu_name" placeholder="Search here...">
          </label>
        </div>
      </div>

    <div class="background-top">
      <button class="btn-float" ui-sref="app.addMed"><i class="icon ion-plus myicon"></i></button>
    </div>
  </div>
  <ion-content>
    <div class="container">

      <ul class="list home-list">
        <div data-ng-repeat="a in medlist track by $index">
          <li class="item" ng-click="show(a)">
            <div class="row">
              <div class="col col-50">
                <span>{{a['medicine_name']}}</span>
              </div>
              <div class="col col-30">
                <span style="margin-left:15%;">{{a['medicine_quantity']}}</span>
              </div>
              <div class="col col-20">
                <span style="margin-left:15%;">{{a['medicine_quantity']}}</span>
              </div>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </ion-content>
</ion-view>
