<ion-view ng-controller="TodoController">
  <!-- <div class="bar bar-header bar-color">
    <h1 class="title" style="font-size:22px; color:white;">Pill Box</h1>
  </div> -->

  <ion-content>
    <div class="small-container">
      <div class="background-top">
        <button class="btn-float" ng-model="showHide"><i class="icon ion-navicon myicon"></i></button>
        <button class="btn-float1" ng-show="showHide"><i class="icon ion-navicon myicon1"></i></button>
      </div>
    </div>
    <div class="container">
    <ul class="list">
      <li class="item">
      Morning
      </li>

      <li class="item">
      Afternoon
      </li>

      <li class="item">
      Night
      </li>

      <li class="item">
      Evening
      </li>
    </ul>
  </div>
  </ion-content>
</ion-view>
