<ion-view ng-controller="SearchController">
  <!-- <div class="bar bar-header">

  </div> -->
  <div class="small-container med-bg">
    <div class="search-bar">
        <div class="list list-inset">
          <label class="item item-input animated bounceInUp">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" ng-model="search" placeholder="Search here...">
          </label>
            <!-- <i class="icon ion-search btn1-float animated bounceInUp" ui-sref="app.meansMed"></i> -->
        </div>
      </div>

    <div class="background-top">
      <!-- <button class="btn-float" ui-sref="app.addMed"><i class="icon ion-plus myicon"></i></button> -->
    </div>
  </div>
  <ion-content>
<div class="add-list">
      <div class="list card" ng-repeat="x in searchlist | filter:search">

  <div class="item item-avatar animated slideInRight">

    <h2>{{x['Search_Name']}}</h2>

  </div>

  <div class="item item-body animated slideInLeft">

    <p>
      {{x['Search_Description']}}
    </p>

  </div>

</div>
</div>
  </ion-content>
</ion-view>
